<div class='employee-container'>
    <h2>Welcome to Employee Portal!</h2>
    <div class="employee-table">
        <div class="header">
        <h3>Employees</h3>
        <LinkTo @route="employee" @model="new" class="button add-button" >Add New Employee</LinkTo>
        </div>
        <Showall/>
    </div>
</div>
  